<template name='adminAbsenceBalanceIndex'>

<div class="row">
	<div class="col-lg-8">
		<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
		<h3>
		List of Absence Balances For Year {{currentYear}}
		</h3>
		<h3>
		<a class='btn btn-default' id='generate_new_absence_balance'>Generate new balance</a>
		<a href="{{pathFor 'adminAbsenceBalanceIndex' type='annual'}}" class='btn btn-primary'>Annual</a>
		<a href="{{pathFor 'adminAbsenceBalanceIndex' type='sick'}}" class='btn btn-warning'>Sick</a>
		<a href="{{pathFor 'adminAbsenceBalanceIndex' type='hospitalization'}}" class='btn btn-success'>Hospitalization</a>
		<a href="{{pathFor 'adminAbsenceBalanceIndex' type='maternity'}}" class='btn btn-danger'>Maternity</a>
		<a href="{{pathFor 'adminAbsenceBalanceIndex' type='marriage'}}" class='btn btn-info'>Marriage</a>
		</h3>
		{{> absenceBalanceTable absenceBalances}}

		<div class="modal fade" id="editAbsenceBalanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Edit Absence Balance</h4>
		      </div>
		      <div class="modal-body">
		        
		      {{> absenceBalanceEdit}}
		        
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

</template>

<template name='absenceBalanceTable'>

<table class='table table-bordered'>
	<thead>
	<tr>
	<th>Type</th>
	<th>User</th>
	<th>Count</th>
	<th colspan="2" width='20%'>Actions</th>
	</tr>
	</thead>
	<tbody>
	{{#each this}}
		<tr>
		<td>{{type}}</td>
		<td>{{userName userId}}</td>
		<td>{{count}}</td>
		<td class='text-center'><a href='#' class='btn btn-success edit_absence_balance' data-id='{{_id}}'>Edit</a></td>
		<td class='text-center'><a href='#' class='btn btn-danger delete_absence_balance' data-id='{{_id}}'>Remove</a></td>
		</tr>
	{{/each}}
	</tbody>
</table>

</template>

<template name='absenceBalanceEdit'>
	<form id="edit_absence_balance_form" class="form">
		<input type="hidden" id="edit_absence_balance_id" />

		<div class="form-group">
			<label class="control-label">Count</label>
			<input type="text" id="edit_absence_balance_count" class="form-control" />
		</div>

		<div class="form-group">
			<input type="submit" value="Update" class="btn btn-primary" />
		</div>
	</form>
</template>
