<template name='userNew'>

<form id="new-user-form" class="form">
	<div class="form-group">
		<label class="control-label">Username</label>
		<input type="text" id="new_user_username" class="form-control" />
	</div>

	<div class="form-group">
		<label class="control-label">Firstname</label>
		<input type="text" id="new_user_firstname" class="form-control" />
	</div>

	<div class="form-group">
		<label class="control-label">Lastname</label>
		<input type="text" id="new_user_lastname" class="form-control" />
	</div>

	<div class="form-group">
		<label class="control-label">Email</label>
		<input type="email" id="new_user_email" class="form-control" />
	</div>

	<div class="form-group">
		<label class="control-label">Password</label>
		<input type="password" id="new_user_password" class="form-control" />
	</div>

	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>
</form>

</template>