<template name='adminClaimIndex'>
<div class="row">
	<div class="col-lg-12">
		<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>

		<h3>
		List of Claims&nbsp;&nbsp;
		<a href="{{pathFor 'adminClaimIndex' status='all'}}" class='btn btn-primary'>Show All</a>
		<a href="{{pathFor 'adminClaimIndex' status='pending'}}" class='btn btn-warning'>Show Pending</a>
		<a href="{{pathFor 'adminClaimIndex' status='approved'}}" class='btn btn-success'>Show Approved</a>
		<a href="{{pathFor 'adminClaimIndex' status='rejected'}}" class='btn btn-danger'>Show Rejected</a>
		</h3>

		<table class='table table-bordered'>
			<thead>
			<tr>
			<th>Date</th>
			<th>Type</th>
			<th>Description</th>
			<th>Remark</th>
			<th>Amount</th>
			<th>Submitted At</th>
			<th colspan="2">Actions</th>
			</tr>
			</thead>
			<tbody>
			{{#each claims}}
				<tr>
					<td>{{formatDate date}}</td>
					<td>{{type}}</td>
					<td>{{description}}</td>
					<td>{{remark}}</td>
					<td>{{amount}}</td>
					<td>{{formatDatetime submittedAt}}</td>
					{{#if pending status}}
						<td class='text-center'><a href='#' class='btn btn-success claim_approve' data-id='{{_id}}'>Approve</a></td>
						<td class='text-center'><a href='#' class='btn btn-danger claim_reject' data-id='{{_id}}'>Reject</a></td>
					{{else}}
						<td class='text-center'><a href='#' class='btn btn-success claim_approve' disabled data-id='{{_id}}'>Approve</a></td>
						<td class='text-center'><a href='#' class='btn btn-danger claim_reject' disabled data-id='{{_id}}'>Reject</a></td>
					{{/if}}
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>
</template>