<template name='absenceApplication'>

<p>Hi {{approver}},</p>

<p>
{{applicant}} has applied for absence
from <b>{{startDate}}</b> to <b>{{endDate}}</b>
</p>

<p>Reason for absence: {{reason}}</p>

<p>
This shall deduct <b>{{duration}} days</b> from his/her <b>{{type}}</b> absence balance.
</p>

<p><b>Please login and approve/reject this application</b></p>

<p>
Regards.
</p>

</template>

<template name='absenceStatus'>

<p>Hi {{applicant}},</p>

<p>
Your absence application
from <b>{{startDate}}</b> to <b>{{endDate}}</b>
has been <b>{{status}}</b>.
</p>

<p>
Regards.
</p>

</template>
