<template name='absenceForm'>
<div class="row">
	<div class="col-lg-12">
		<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
	</div>

	<div class="col-lg-6">
		<h3>Apply For Absence</h3>

		<form class='form'>

		<div class='form-group'>
		<label class='control-label'>Type</label>
		<select class='form-control' id='absence_type'>
			{{#each absenceTypes}}
				<option>{{this}}</option>
			{{/each}}
		</select>
		</div>

		<div class='form-group'>
		<label class='control-label'>Start Date</label>
		<input class='form-control' id='absence_start_date' />
		</div>

		<div class='form-group'>
		<label class='control-label'>End Date</label>
		<input class='form-control' id='absence_end_date' />
		</div>

		<div class='form-group'>
		<label class='control-label'>Duration</label>
		<input class='form-control' id='absence_duration' disabled />
		</div>

		<div class='form-group'>
		<label class='control-label'>Reason [optional]</label>
		<textarea class='form-control' id='absence_reason' rows='3'></textarea>
		</div>

		<div class='form-group'>
		<input class='btn btn-primary' type='submit' value='Submit'>
		</div>

		</form>
	</div>

	<div class="col-lg-6">
		<h3>Your Absence Balance</h3>

		<table class='table table-bordered'>
		<thead>
		<tr>
		<th>Type</th>
		<th>Count</th>
		</tr>
		</thead>
		<tbody>
		{{#each absenceBalances}}
			<tr>
			<td>{{type}}</td>
			<td>{{count}}</td>
			</tr>
		{{/each}}
		</tbody>
		</table>
	</div>
</div>
</template>