<template name='passwordReset'>

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="account-box">
				<div class="account-header">
					<h3>Reset Password</h3>
				</div>
				<form id="new-password-form" class="form">
					<div class="form-group">
						<label class="control-label">New Password</label>
						<input type="password" id="new-password" class="form-control" />
					</div>

					<div class="form-group">
						<label class="control-label">Confirm Password</label>
						<input type="password" id="confirm-new-password" class="form-control" />
					</div>

					<div class="form-group">
						<input type="submit" value="Reset" class='btn btn-primary' />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</template>